/* -------------------------------------------------------------------------- */
/*                                 RESET Start                                */
/* -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------------------- RESET end ------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             COMMON STYLES start                            */
/* -------------------------------------------------------------------------- */
body {
  background-color: #4b5f62;
  color: #111a0d;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section-title {
  position: relative;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #484b46;
  margin-bottom: 60px;
}

.section-title::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #484b46;
  border-radius: 2px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.container--white {
  background-color: #fff;
}

.container--light {
  background-color: #f2f4f1;
}

.container--semi-light {
  background-color: #e0e4df;
}

.container--dark {
  background-color: #4b5f62;
}

.section-text {
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                             BUTTON start                            */
/* -------------------------------------------------------------------------- */
.button {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #484b46;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  border: 2px solid #4b5f62;
  background-color: rgba(224, 228, 223, 0.5);
}

.button--dark:hover, .button--dark:focus {
  border: 2px solid #4b5f62;
  background-color: rgba(75, 95, 98, 0.1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/bg_menu.png");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/bg_menu.png");
  background-position: center;
  background-size: cover;
}

.mobile-menu .container__mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 430px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.mobile--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-open__btn {
  position: absolute;
  right: 15px;
  top: 15px;
  margin-left: auto;
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-open__btn:hover, .mobile-open__btn:focus {
  fill: #4b5f62;
}

@media screen and (min-width: 1200px) {
  .mobile-open__btn {
    display: none;
  }
}

.mobile-close__btn {
  position: absolute;
  right: 15px;
  top: 15px;
  margin-left: auto;
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #484b46;
}

.mobile-close__btn:hover, .mobile-close__btn:focus {
  fill: #4b5f62;
}

.mobile-menu__nav {
  padding-top: 60px;
  text-align: center;
}

.nav__item {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  color: #ffffff;
}

.nav__link--current {
  color: #111a0d;
}

.mobile-menu__contact {
  margin-bottom: 32px;
}

.contact__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4b5f62;
}

.contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact__link {
  color: #111a0d;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-social__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobile-social__item {
    font-size: 12px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #4b5f62;
}

.mobile-social__link {
  color: #ffffff;
}

/* -------------------------------------------------------------------------- */
/*                                    HEDER                                   */
/* -------------------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 1001;
}

.header__container.js-no-transparency {
  background-color: rgba(242, 244, 241, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
          box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
}

.header__container {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  display: inline-block;
  padding: 20px 0;
  color: #484b46;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contacts_link {
  color: #4b5f62;
}

/*-------------------------------------------------------------------------- */
/*                             HERO start                            */
/* -------------------------------------------------------------------------- */
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/bd_test.jpg");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/bd_test.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 150px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 150px;
    padding-bottom: 90px;
  }
}

.hero-content {
  margin: 0 auto;
  width: 290px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero-content {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    width: 650px;
  }
}

.hero-title {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #484b46;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 48px;
  }
}

/* -------------------------------------------------------------------------- */
/*                             ABOUT start                            */
/* -------------------------------------------------------------------------- */
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__card {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 480px) {
  .about__card {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .about__card {
    max-width: 202px;
  }
}

@media screen and (min-width: 1200px) {
  .about__card {
    max-width: 356px;
  }
}

.about__decsr {
  padding: 60px 15px;
}

.about__text {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.about__text::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #484b46;
  border-radius: 2px;
  position: absolute;
  top: -20px;
  left: calc(50% - 25px);
}

/* -------------------------------------------------------------------------- */
/*                            SHOP start                            */
/* -------------------------------------------------------------------------- */
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .shop {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.shop__wrap {
  text-align: center;
}

.shop__img {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .shop__img {
    margin-bottom: 0;
  }
}

/* .price {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-color: $light-bg-cl;
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/
.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #111a0d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (min-width: 1200px) {
  .price-list-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    transition: -webkit-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  }
}

.price-list-item:first-child {
  border: 2px solid #4b5f62;
  background-color: rgba(224, 228, 223, 0.5);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .price-list-item:first-child {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: rotateY(15deg);
            transform: rotateY(15deg);
    margin-bottom: 0;
  }
}

.price-list-item:last-child {
  border: 2px solid #4b5f62;
  background-color: rgba(224, 228, 223, 0.5);
}

@media screen and (min-width: 1200px) {
  .price-list-item:last-child {
    -webkit-transform: rotateY(-15deg);
            transform: rotateY(-15deg);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@media screen and (min-width: 1200px) {
  .price-list-item:hover {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: '';
  display: inline-block;
  /* width: 100%; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #4b5f62;
}

.price-inner-list {
  padding: 30px 40px;
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
}

.price-inner-desc {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/*                            ORDER start                            */
/* -------------------------------------------------------------------------- */
.order {
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                             PORTFOLIO start                            */
/* -------------------------------------------------------------------------- */
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                             FOOTER start                            */
/* -------------------------------------------------------------------------- */
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-bottom: 0px;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link--dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #484b46;
  border-radius: 50%;
  background-color: #4b5f62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark:hover, .social__link--dark:focus {
  background-color: #484b46;
}

.social__icon--white {
  fill: #ffffff;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .address__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .address__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.address__item {
  text-transform: uppercase;
  font-style: normal;
  font-size: 16px;
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__link {
  color: inherit;
}
/*# sourceMappingURL=main.css.map */