/* -------------------------------------------------------------------------- */
/*                                 RESET Start                                */
/* -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------------------- RESET end ------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             COMMON STYLES start                            */
/* -------------------------------------------------------------------------- */
body {
  background-color: #4b5f62;
  color: #111a0d;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section-title {
  position: relative;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #484b46;
  margin-bottom: 60px;
}

.section-title::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #484b46;
  border-radius: 2px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.container--white {
  background-color: #fff;
}

.container--light {
  background-color: #f2f4f1;
}

.container--semi-light {
  background-color: #e0e4df;
}

.container--dark {
  background-color: #4b5f62;
}

.section-text {
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                             BUTTON start                            */
/* -------------------------------------------------------------------------- */
.button {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #484b46;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #484b46;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  border: 2px solid #4b5f62;
  background-color: rgba(224, 228, 223, 0.5);
}

.button--dark:hover, .button--dark:focus {
  border: 2px solid #4b5f62;
  background-color: rgba(75, 95, 98, 0.1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/bg_menu.png");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/bg_menu.png");
  background-position: center;
  background-size: cover;
}

.mobile-menu .container__mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 430px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.mobile--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-open__btn {
  position: absolute;
  right: 15px;
  top: 15px;
  margin-left: auto;
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-open__btn:hover, .mobile-open__btn:focus {
  fill: #4b5f62;
}

@media screen and (min-width: 1200px) {
  .mobile-open__btn {
    display: none;
  }
}

.mobile-close__btn {
  position: absolute;
  right: 15px;
  top: 15px;
  margin-left: auto;
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #484b46;
}

.mobile-close__btn:hover, .mobile-close__btn:focus {
  fill: #4b5f62;
}

.mobile-menu__nav {
  padding-top: 60px;
  text-align: center;
}

.nav__item {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  color: #ffffff;
}

.nav__link--current {
  color: #111a0d;
}

.mobile-menu__contact {
  margin-bottom: 32px;
}

.contact__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4b5f62;
}

.contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact__link {
  color: #111a0d;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-social__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobile-social__item {
    font-size: 14px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #4b5f62;
}

.mobile-social__link {
  color: #ffffff;
}

/* -------------------------------------------------------------------------- */
/*                                    HEDER                                   */
/* -------------------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 1001;
}

.header__container.js-no-transparency {
  background-color: rgba(242, 244, 241, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 2px 5px rgba(25, 28, 38, 0.4);
          box-shadow: 0 2px 5px rgba(25, 28, 38, 0.4);
}

.header__container {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  display: inline-block;
  padding: 20px 0;
  color: #484b46;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #aa8d82;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__item {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contacts_link {
  color: #111a0d;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_link:hover, .contacts_link:focus {
  color: #aa8d82;
}

/*-------------------------------------------------------------------------- */
/*                             HERO start                            */
/* -------------------------------------------------------------------------- */
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-top: 90px;
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/bd_test2.jpg");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/bd_test2.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 150px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 150px;
    padding-bottom: 90px;
    height: 100vh;
  }
}

.hero-content {
  margin: 0 auto;
  width: 290px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero-content {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    width: 650px;
  }
}

.hero-title {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #484b46;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 42px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 58px;
    margin-bottom: 40px;
  }
}

.hero-subtitle {
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .hero-subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-subtitle {
    font-size: 26px;
  }
}

/* -------------------------------------------------------------------------- */
/*                             ABOUT start                            */
/* -------------------------------------------------------------------------- */
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__card {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 480px) {
  .about__card {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .about__card {
    max-width: 344px;
  }
}

@media screen and (min-width: 1200px) {
  .about__card {
    max-width: 356px;
  }
}

.about__decsr {
  padding: 60px 15px;
  text-align: center;
}

.about__text {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.about__text::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #484b46;
  border-radius: 2px;
  position: absolute;
  top: -20px;
  left: calc(50% - 25px);
}

/* -------------------------------------------------------------------------- */
/*                            SHOP start                            */
/* -------------------------------------------------------------------------- */
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .shop {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.shop__wrap {
  text-align: center;
}

.shop__img {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .shop__img {
    margin-bottom: 0;
  }
}

.price {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/bd_test4.jpg");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/bd_test4.jpg");
  background-position: center;
  background-size: cover;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #111a0d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.price-inner-title {
  display: block;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #aa8d82;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.price-list-item {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

@media screen and (min-width: 1200px) {
  .price-list-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    transition: -webkit-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  }
}

.price-list-item:first-child {
  border: 2px solid #4b5f62;
  background-color: rgba(223, 227, 222, 0.8);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .price-list-item:first-child {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: rotateY(5deg);
            transform: rotateY(5deg);
    margin-bottom: 0;
  }
}

.price-list-item:last-child {
  border: 2px solid #4b5f62;
  background-color: rgba(224, 228, 223, 0.8);
}

@media screen and (min-width: 1200px) {
  .price-list-item:last-child {
    -webkit-transform: rotateY(-5deg);
            transform: rotateY(-5deg);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@media screen and (min-width: 1200px) {
  .price-list-item:hover {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: '';
  display: inline-block;
  /* width: 100%; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #4b5f62;
}

.price-inner-list {
  padding: 20px 20px;
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
}

.price-inner-desc {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/*                            ORDER start                            */
/* -------------------------------------------------------------------------- */
.order {
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                             PORTFOLIO start                            */
/* -------------------------------------------------------------------------- */
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item {
  width: 360px;
  margin: 15px;
}

.portfolio__img {
  width: 450px;
}

/* -------------------------------------------------------------------------- */
/*                             FOOTER start                            */
/* -------------------------------------------------------------------------- */
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-bottom: 0px;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link--dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #484b46;
  border-radius: 50%;
  background-color: #4b5f62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark:hover, .social__link--dark:focus {
  background-color: #aa8d82;
}

.social__icon--white {
  fill: #ffffff;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .address__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .address__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.address__item {
  text-transform: uppercase;
  font-style: normal;
  font-size: 16px;
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__link {
  color: inherit;
}

/* -------------------------------------------------------------------------- */
/*                                 MODAL Start                                */
/* -------------------------------------------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 581px;
  padding: 40px;
  overflow: auto;
  background: #e0e4df;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #4b5f62;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field {
  position: relative;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #4b5f62;
}

.form__wrap {
  position: relative;
}

.form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  border: 2px solid #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f2f4f1;
}

.form__input:focus-visible {
  outline: transparent;
  border: 1px solid #4b5f62;
}

.form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__input--massage {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4b5f62;
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: #aa8d82;
}

.policy {
  margin: 0 auto;
  margin-bottom: 30px;
}

.policy__label {
  font-size: 12px;
  line-height: 1.16;
  color: #4b5f62;
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__link {
  color: #4b5f62;
}

.policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  margin-right: 8px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #4b5f62;
  border-radius: 2px;
}

.policy__checkbox:checked + .checkbox__icon {
  border-color: transparent;
  background-image: url("../images/checkbox-icon.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__button {
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: #4b5f62;
}

/* -------------------------------- MODAL End ------------------------------- */
/*# sourceMappingURL=main.css.map */