/* -------------------------------------------------------------------------- */
/*                             PORTFOLIO start                            */
/* -------------------------------------------------------------------------- */

// .portfolio__wrap {
// }

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
// .portfolio__item {
// }

// .portfolio__img {
// }
