$main-bg-cl: #ffffff;
$light-bg-cl: #f2f4f1;
$semi-light-bg-cl: #e0e4df;
$grey-bg-cl: #f3f3f3;
$dark-bg-cl: #4b5f62;
$title-cl: #484b46;
$sub-titlr-cl: #5a5c59;
$text-cl: #111a0d;
$accent-cl: #aa8d82;
