$main-bg-cl: #ffffff;
$light-bg-cl: rgb(242, 244, 241);
$semi-light-bg-cl: rgb(224, 228, 223);
$grey-bg-cl: rgb(243, 243, 243);
$dark-bg-cl: rgb(75, 95, 98);
$title-cl: rgb(72, 75, 70);
$sub-titlr-cl: rgb(90, 92, 89);
$text-cl: rgb(17, 26, 13);
